.btn {
  padding: 0.5rem 3rem;
}

.success {
  background: lightgreen;
  padding: 1rem;
}

.error {
  background: tomato;
  padding: 1rem;
}

.yes {
  width: 100%;
  height: 1rem;
  background: rgb(52, 224, 103);
}

.no {
  width: 100%;
  height: 1rem;
  background: rgb(235, 103, 51);
}

.reserved {
  width: 100%;
  height: 1rem;
  background: rgb(253, 224, 56);
}

img {
  min-height: 20rem;
}
