.btn {
  padding: 0.5rem 3rem;
}

.success {
  background: lightgreen;
  padding: 1rem;
}

.error {
  background: tomato;
  padding: 1rem;
}

ul li .yes {
  background: rgb(52, 224, 103);
}

.no {
  background: rgb(235, 103, 51);
}

.reserved {
  background: rgb(253, 224, 56);
}
